<footer class="multi-box">
    <section>
        <address>
            244 Mt Morton Rd<br>
            Belgrave Heights, Vic 3160
        </address>
    </section>
    
    <section class="contacts">
        <p class="facebook"><a href="{{ site.facebook }}">
            <svg class="svg-icon" viewbox="0 0 16 16" style="width:1.5em; height:1.5em">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
            </svg>
        </a></p>
        <p><a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p><a class="phone" href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
    </section>
    <section class="technical">
        <p>Hosted on <a href="www.genesis.net.au"/>Genesis Networks</a></p>
        <p><a href="https://github.com/{{ site.github_repo | escape }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
            <span>Fork me on GitHub</span>
        </a></p>
    </section>
</footer>
