main header {
  background-image: url("/assets/images/BHCS1.jpg");
  background-position: center;
  height: 20em;
  padding-top: 10em;
  box-sizing: border-box;
  text-align: center;
  
  h1 {
    font-size: 100px;
  }
}