/**
 * The navigation banner at the top
 */
.site-header {
  background: #333;
  color: $dull-white-color;
  text-align: center;
  
  
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  text-align: left;
  z-index: 100;
  
  @include smaller-than($on-palm) {
    bottom: 0;
  }
  
  .site-title {
    @include smaller-than($on-laptop) {
      a {
        display: none;
      }
    }
    
    @include larger-than($on-palm) {
      @include relative-font-size(1.8);
      margin-left: 1em;
      color: $dull-white-color;
      @include relative-font-size(1.3);
      font-weight: bold;
      max-width: none;
      
      a {
        &:hover, &:visited {
          color: $dull-white-color;
        }

        &::before {
          content: "";
          background: url("images/pca.png") no-repeat center;
          background-size: contain;
          width: 1em;
          display: inline-block;
          height: 40px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
  
  nav {
    ul {
      margin: 0;
      display: flex;
      flex-direction: row;
    }
    
    li {
      display: inline-block;
      list-style: none;
      flex: 1;
      max-width: 6em;
    }
    
    a {
      text-align: center;
      display: inline-block;
      padding: 0.5em;
      
      &, &:visited, &:hover {
        color: $dull-white-color;
      }
    }
    
    a:hover {
      text-shadow: -0.06ex 0 $dull-white-color, 0.06ex 0 $dull-white-color;
      text-decoration: none;
    }

    @include smaller-than($on-palm) {
      font-size: 60%;

      a::before {
        display: block;
        margin-bottom: -5px;
        filter: invert(100%);
        opacity: 0.3;
      }

      a[href="#contact"]::before {
        content: url("images/map.svg")
      }
      a[href="#about"]::before {
        content: url("images/group.svg")
      }
      a[href="#donate"]::before {
        content: url("images/bank.svg")
      }
      a[href="#service"]::before {
        content: url("images/book.svg")
      }
      a[href="#events"]::before {
        content: url("images/event.svg")
      }
    }
    
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: $dull-white-color;
}

// The picture header
main header {
  background: #ddd; // old browser fallback
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  background-size: cover;
  height: 8em;
  padding-top: 2em;
  box-sizing: border-box;
  text-align: center;
  color: $dull-white-color;

  &.garden {
    background: url("images/garden_2.jpg") center / cover; // ie8 fallback
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("images/garden_2.jpg") center / cover;
  }

  &.classroom {
    background: url("images/BHCS4_2.jpg") center / cover; // ie8 fallback
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("images/BHCS4_2.jpg") center / cover;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;

    .line-1 {

    }

    .line-2 {
      font-size: 80%;
      display: block;
      position: relative;
      top: -0.5em;
      text-transform: uppercase;
    }
  }

  @include larger-than($on-palm) {
    height: 15em;
    padding-top: 6em;

    h1 {
      font-size: 3em;
    }
  }
  
  @include larger-than($on-laptop) {
    height: 30em;
    padding-top: 7em;
    margin-bottom: -15em; // For overlapping first paragraph
    
    h1 {
      font-size: 4em;
    }
  }
  
}

h2 {
  text-align: center;
  padding: 2em 0 1em;
  font-size: 200%;
}

// Make the first paragraph overlap the banner
@include larger-than($on-laptop) {
  article:first-of-type {
    padding: 2em 3em 2em;
    margin: 5em auto 3em;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.5);
    
    &::before {
      display: none;
    }
  }
}

article:first-of-type {
  // Service time larger font-size
  p:first-of-type {
    font-size: 150%;
  }
  
  // Service header - maybe I should just delete it?
  h2 {
    display: none;
  }
}

article {
  margin: 0em auto;
  padding: 3em 1em 8em;
  max-width: 50em;
  text-align: center;
  box-sizing: content-box;

  &:nth-of-type(odd) {
    position: relative;
    background: $white-color;
    
    &::before {
      content: ' ';
      position: absolute;
      left: -1000px;
      right: -1000px;
      top: 0;
      bottom: 0;
      z-index: -10;
      background: $white-color;
      box-shadow: 0 0 15px -12px rgba(0, 0, 0, 0.5);
    }
  }
}

// Events Boxes
.event {
  text-align: left;
  background: $white-color;
  padding: 1em 2em;
  margin: 1em 0 2em 6em;
  box-shadow: 0 0 15px -12px rgba(0, 0, 0, 0.5);
  
  .date {
    display: inline-block;
    padding: 0.3em 0;
    width: 4em;
    text-align: center;
    border: 1px solid $brand-color;
    border-radius: 15px;
    float: left;
    margin-top: -2em;
    margin-left: -8em;
    background: $white-color;
    
    .day {
      font-size: 120%;
      display: block;
    }
  }
  
  h3 {
    margin-bottom: 0;
  }
  
  .time, .location {
    font-style: italic;
  }
  
  p:first-of-type {
    border-top: 1px solid #eee;
    padding-top: 1em;
  }
  p {
    margin: 5px;
  }
}

/*
 * Boxes laid out like columns
 */
.multi-box {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: inherit;
  
  section {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    border-left: 1px solid rgba(128, 128, 128, 0.1);
    border-right: 1px solid rgba(128, 128, 128, 0.1);
    flex: 1;
    text-align: center;
    min-width: 13em;
    
    & > * {
      max-width: 15em;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  /* Hide left/right borders*/
  &::before, &::after {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    background: inherit;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}




#contact {
  
  .phone::before {
    content: url("images/phone.svg");
    padding-right: 1em;
    opacity: 0.5;
  }
  
  .email::before {
    content: url("images/email.svg");
    padding-right: 1em;
    opacity: 0.5;
  }
  
  .facebook {
    text-align: center;
    margin-bottom: 1em;
  }
  
  @include smaller-than($on-palm) {
    .technical {
      display: none;
    }
  }
}

footer {
  background: #333;
  padding: 0.3em;
  border-top: 1px solid #444;
  text-align: center;
  
  p {
    display: inline;
    margin: 0 2em 0;
  }
}

.button {
  border: 1px solid #aaa;
  border-radius: 100em;
  padding: 0.3em 1.0em 0.4em;
  margin: 1em;
  display: inline-block;
  
  &:hover {
    background: rgba(0, 0, 0, 0.1);
    text-decoration: inherit;
  }
  
}

.bio-img {
  float: right;
  width: 8em;
  border-radius: 100px;
  border: 2px solid $brand-color;
  box-shadow: 0 2px 10px -5px black;
  position: relative;
  top: -2.5em;
}
