---
layout: default
---

<header class="site-header" role="banner">
    <nav>
        <ul>
            <li class="site-title"><a href="#">BHPC</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#donate">Donate</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>
                <a href="{{ site.facebook }}">
                    <svg alt="Fabebook" class="svg-icon" viewbox="0 0 16 16" style="width:1.5em; height:1.5em">
                        <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main>
    
    <header class=".page-header {{ page.banner_img | default: "classroom" }}">
        <h1><span class="line-1">Belgrave Heights</span><span class="line-2">Presbyterian Church</span></h1>
    </header>
    
    <article id="service">
        <h2>Church Service</h2>
        <p class="time">Sunday 10:00 am</p>
        <p>All Welcome. Sunday School starts at 10:30</p>
        <p><a class="button" href="{{ "contact" | relative_link }}">Get Directions</a></p>
        <p><address>
            244 Mt Morton Rd<br>
            Belgrave Heights, Vic 3160
        </address></p>
        
        <h3>Covid Update - 12/02/2021</h3>
        <p>Sunday Service has returned.</p>
    </article>
    
    <article id="events"> 
        <h2>Regular Events</h2>
    
        <div class="multi-box">
            <section>
                <h3>Prayer Meeting</h3>
                <p class="time">Sunday 9:30</p>
                <p>Runs before Church Service</p>
            </section>
            
            <section>
                <h3>Zoom Bible Study</h3>
                <p class="time">Thursday 7:30</p>
                <p><a class="button" href="https://us02web.zoom.us/j/85465116474?pwd=MzNDN3dZZzVrUmRxZ3hyd25hY2RxZz09">Join here</a></p>
                <dl>
                    <dt>Meeting ID</dt><dd>854 6511 6474</dd>
                    <dt>Passcode</dt><dd>543078</dd>
                </dl>
            </section>
        
            <section>
                <h3>Saturday Bible Study</h3>
                <p class="time">Saturday 7:30</p>
                <dl>
                    <dt>Contact</dt><dd>Sombebody</dd>
                    <dt>Location</dt><dd>Varying</dd>
                </dl>
            </section>
        </div>
    </article>
    
    <article id="about">
        <h2>What we believe</h2>
        <h3>Faith through Salvation</h3>
        <p>
            Some profound words. Yes. Most profound. Mind boggling, just so mind boggling.
            Wow, I'm glad I wrote this section. Yep, I sure hope I don't forget to change
            this before releasing the site...
        </p>
    
        <h3>Another important point</h3>
        <p>Yep, I reckon this is just as good as the previous point. Now for some lorum
            lipsium. Lips of Lorrals says loruoul lipsium lots of lorousl.</p>
    
        <h3>All good things come in threes</h3>
        <p>Except cookies - they come in plates.</p>
    </article>
    
    <article>
        <h2>The Minister</h2>
        
        <img class="bio-img" alt="Mark Tonkin" src="{{ "assets/images/marktonkin.png" | relative_url }}"/>
    
        Mark Tonkin.
    
        Insert Bio here.
    </article>
    
    <article id="donate">
        <h2>Donations/Offering</h2>
    
        <div class="multi-box">
            <section>
                <h3>Church Offering</h3>
                <dl>
                    <dt>BSB</dt><dd>13542 6357253</dd>
                    <dt>Account Name</dt><dd>Something Something</dd>
                </dl>
            </section>
        
            <section>
                <h3>Pariees Offering</h3>
                <dl>
                    <dt>BSB</dt><dd>1745 3753166</dd>
                    <dt>Account Name</dt><dd>Mr. By Thatmuch</dd>
                </dl>
            </section>
        </div>
    </article>

    <article id="contact">
        <h2>Contact</h2>

        <p>Church service is held in the undercroft of the School; enter the main gates into the carpark, and follow the signs</p>

        <iframe
                width="100%"
                height="500"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCmsFle2gnmNf9q9Mgf0mCPya2XEIz18O4
        &q=Belgrave+Heights+Presbyterian+Church,Australia+Victoria">
        </iframe>

        <div class="multi-box">
            <section>
                <address>
                    244 Mt Morton Rd<br>
                    Belgrave Heights, Vic 3160
                </address>
            </section>

            <section class="contacts">
                <p class="facebook"><a href="{{ site.facebook }}">
                    <svg alt="Fabebook" class="svg-icon" viewbox="0 0 16 16" style="width:1.5em; height:1.5em">
                        <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
                    </svg>
                </a></p>
                <p><a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <p><a class="phone" href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
            </section>
            <section class="technical">
                <p>Hosted on <a href="www.genesis.net.au"/>Genesis Networks</a></p>
                <p><a href="https://github.com/{{ site.github_repo | escape }}">
                    <svg class="svg-icon">
                        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
                    </svg>
                    <span>Fork me on GitHub</span>
                </a></p>
            </section>
        </div>
    </article>
</main>